<footer>
    <address>
        <a href="tel:+40712354678" class="apel">
            <i class="fa-solid fa-phone fa-shake-hover" style="font-weight:600;padding-right:0.4rem;"></i>Sună la 0712354678</a>
        <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4355355,26.0995867,15z/data=!4m5!3m4!1s0x0:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" class="locatie">
            <i class="fa-solid fa-map-pin fa-bounce" style="font-weight:600;padding-right:0.4rem;"></i>Locație sediu principal</a>
        <a href="mailto::clienti.electrohub@gmail.com" class="mail">Scrie un e-mail</a>
        <a href="https://api.whatsapp.com/send?phone=40712354678" class="mesaj">Scrie un mesaj pe WhatsApp</a>
    </address>

    <a href="#" id="link-top"><div class="tooltip"><span class="tooltiptext">Înapoi în partea de sus a paginii</span></div></a>
<p id="banner_cookie">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p>
    <p class="copyright-info"><small>&copy; Pagină creată la data de <time datetime="2022-02-20">20.02.2022</time></small></p>
    
    
</footer>