<section id="sectiune-galerie-animata">
    <h2>Galerie animata</h2>
    <div id="galerie-animata" class ="galerie-a">
        <%  
            for(let imag of locals.imagini){ 
                %>    
                    <figure>
                        <picture>
                            <source srcset="<%-imag.mic%>" media="(max-width:500px)"/>
                            <source srcset="<%-imag.mediu%>" media="(max-width:1200px)"/>
                            <img src="<%-imag.mare%>" alt="text alternativ"/>
                        </picture>
                        <figcaption><%-imag.descriere%></figcaption>
                    </figure>
                <%    
            }
        %> 
    </div>
</section>