<script>
    var tema=localStorage.getItem("tema");
    if(tema)
        document.body.classList.add("dark");
    else
        document.body.classList.remove("dark");
</script>

<header>
    <h1>ElectroHub</h1>
</header>

<nav>

    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li><div class="home-button"><a href="/index"><span class="text-home-button">Acasă</span></a></div>
            <ul>
                <li><a href="/index#welcome">Bine ați venit!</a></li>
                <li><a href="/index#orar">Orar</a></li>
            </ul>
        </li>
        <li><div><a href="/despre">Despre</a></div>
            <ul>
                <li><a href="/despre#prezentare">Prezentare</a></li>
                <li><a href="/despre#istoric">Istoric</a></li>
                <li><a href="/despre#galerie">Galerie</a></li>
            </ul>
        </li>
        <li><div><a href="/produse">Produse</a></div>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <% for(let categ of locals.categorii_meniu) { %>
                    <li><a href="/produse?<%-categ.unnest%>" style="text-transform: capitalize;"><%-categ.unnest%></a></li>
                <% } %>
            </ul>
        </li>
        <li><a href="/suport_clienti">Suport clienți</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/inregistrare">Inregistrare</a></li>

        <% if(locals.utilizator && locals.utilizator.rol == "admin") { %>
            <li><a href="/useri">Useri</a></li>

        <% if(locals.utilizator){ %>
            <li>
                <div><%- locals.utilizator.username %></div>
                <ul>
                    <li><a href="/profil">Profil</a></li>
                    <li><a href="/logout">Logout</a></li>
                    

                </ul>
            </li>
        <% } %>    
    </ul>
</nav>

<p id="banner"></p>