<header>
    <h1>ElectroHub</h1>
</header>

<nav>

    <label id="hamburger" for="ch-menu">
        <img src="./resurse/imagini/hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li><div class="home-button"><span class="text-home-button">Acasă</span></div>
            <ul>
                <li><a href="/index#welcome">Bine ați venit!</a></li>
                <li><a href="/index#orar">Orar</a></li>
            </ul>
        </li>
        <li><div>Despre</div>
            <ul>
                <li><a href="despre.html#prezentare">Prezentare</a></li>
                <li><a href="despre.html#istoric">Istoric</a></li>
                <li><a href="despre.html#galerie">Galerie</a></li>
            </ul>
        </li>
        <li><a href</li>
        <li><div>Produse</div>
            <ul>
                <li><a href="/index#">Toate</a></li>
                <li><a href="/index#">Telefoane & Tablete</a></li>
                <li><a href="/index#">Laptop & Desktop</a></li>
                <li><a href="/index#">TV</a></li>
                <li><a href="/index#">Audio-Video & Foto</a></li>
                <li><a href="/index#">Periferice</a></li>
                <li><a href="/index#">Gaming & Jocuri</a></li>
                <li><a href="/index#">Electrocasnice mari</a></li>
                <li><a href="/index#">Electrocasnice mici</a></li>
                <li><a href="/index#">Îngrijire personală</a></li>
            </ul>
        </li>
        <li><a href="suport_clienti.html">Suport clienți</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>