#galerie_statica{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#galerie_statica img{
    width: 100%;
}

#galerie_statica figure{
    margin: 0;
    padding: 0;
}

#galerie_statica figure:nth-child(7){
    grid-area: 3/2/4/3;
}

#galerie_statica{
    counter-reset: nr_imag;
}

#galerie_statica figcaption::before{
    content: counter(nr_imag, upper-roman) ". ";
    counter-increment: nr_imag;

}

figure img{
    trsns
}

figure:hover img{
    filter: contrast(200%);
}

figure:hover figcaption{
    transform: scale(1.25);
}