#galerie_statica{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#galerie_statica img{
    width: 100%;
}

#galerie_statica figure{
    margin: 0;
    padding: 0;
}

/* #galerie_statica figure:nth-child(){
    grid-area: ;
} */

#galerie_statica figcaption::before{
    c

}