/* @import "nav.css"; */

html{
    font-size: 16px;
}

body{
    

    --c1-text: black;
}

body{
    --body-padding: 3rem;
    --pading-intern: 3rem;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);

    background-color: rgb(65, 146, 65);
    background-attachment: fixed;
    /* background-size: cover; */

    min-width: 330px;
}

h1{
    font-size: 3rem;
    font-family: 'Montserrat';
}

main{
    --main-border: 1px solid grey;
    
    background-color: rgb(186, 228, 195);
    border-left: var(--main-border);
    border-right: var(--main-border);
    padding-bottom: 2rem;

    overflow: hidden;
}

#grid-pagina{
    display: grid;
    
    grid-template-areas:
                        "zona-1 zona-1 zona-1 zona-1"
                        "zona-5 zona-6 zona-6 zona-7"
                        "zona-3 zona-3 zona-2 zona-2"
                        "zona-4 zona-4 zona-2 zona-2"
                        "zona-8 zona-8 zona-8 zona-8";
    grid-template-columns: 1fr 1fr 1fr 1fr;                    
    padding: var(--pading-intern);
    grid-gap: 1rem;
}

#grid-pagina>section{
    border: 1px solid grey;
    padding: 1rem;
}

#welcome{
    grid-area: zona-1;
}

#tabel{
    grid-area: zona-2;
}

#calendar{
    grid-area: zona-3;
}

#anunturi{
    grid-area: zona-4;
}

#users-list{
    grid-area: zona-5;
}

#statistici{
    grid-area: zona-6;
}

#date-site{
    grid-area: zona-7;
}

#random{
    grid-area: zona-8;
}

#container-iframe{
    display: flex;
    align-items: stretch;
    align-self: center;
    border: none;
}

#container-iframe iframe{
    border: 2px solid green;
    padding: 0; 
}



.taburi-iframe a{
    text-decoration: none;
    text-decoration-style: none;
    width: 100px;
    
    display: inline-block;
    border: 2px solid green;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(193, 207, 193);
    color: black;

    transition: all 500ms linear;
    text-align: center;
    
    box-shadow: 2px 2px 2px black inset, -2px 2px;
}

.taburi-iframe a+a{
    margin-left: -5px;
    box-shadow: none;
}

.taburi-iframe a:hover{
    color: white;

}
