html{
    font-size: 14px;
}

body{
    --body-padding: 1.5rem;
    margin: 0;
}

#tabel>div{
    overflow-x: scroll;
}

#link-top{
    right: 1.7rem;
}

#link-top>.tooltip{
    right: 1.8rem;
}

.home-button .text-home-button{
    display: none;
}

.text-home-button::before{
    display: block;
    padding-right: 0;
}