#hamburger{
    display: block;
}

ul.meniu{
    display: none;
    position: absolute;
    width: 100%;
}

#ch-menu:checked+ul.meniu{
    display: block;
    z-index: 2;
    position: relative;
    tra
}