body{
    --inaltime-meniu: 3rem;

    --background-color:#50B350;
    --light-color:#BFFFBF;
    --vivid-color:#73FF73;
    --dark-color:#397F39;
    --medium-color:#8FBF8F;

    --c1-text: black;
}

nav ul.meniu ul{
    display: none;
    position: absolute;
    width: 100%;
}

nav{
    height: var(--inaltime-meniu);
    width: 100%;
    top: 0;
    padding: 0;
    background-color: var(-);
    z-index: 10;
    position: sticky;
}

nav ul.meniu>li{
    float: left;
    width: 20%;
    position: relative;
    
}

nav ul, nav li{
    padding: 0;
    margin: 0;
}

nav ul.meniu li{
    text-align: center;
    list-style-type: none;
    background-color: rgb(126, 255, 126);
    cursor: pointer;
}

nav ul.meniu li, nav ul.meniu div, nav ul.meniu a{
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;

    height: var(--inaltime-meniu);
    line-height: var(--inaltime-meniu);

}

ul.meniu>li>div:hover, ul.meniu>li>a:hover{
    box-shadow: 1px 1px 5px 1px inset white, -1px -1px 5px 1px inset white;
}

ul.meniu a, ul.meniu div{
    transition: background 200ms linear;
}

nav ul.meniu>li:hover>ul{
    display: block;
    animation-name: aparitie_submeniu;
    animation-iteration-count: 1;
    animation-duration: 200ms;
    animation-timing-function: linear;
    transform-origin: top center;
}

nav ul.meniu>li:hover>ul li a::before{
    content:'\2192';
    display: inline-block;
    padding-right: 0.4rem;
    
}

nav ul.meniu>li:hover>ul li{
    overflow: hidden;
}

nav ul.meniu>li:hover>ul li a:hover::before{
    content:'\2192';
    padding-right: 0.4rem;

    animation-name: animatie_sageata_submeniu;
    animation-iteration-count: 1;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

.home-button::before{
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    padding-right: 0.4rem;
    content:'\f015';
}

#hamburger{
    display: none;
    height: var(--inaltime-meniu);
}

#ch-menu{
    display: none;
}

#hamburger img{
    height: 100%;
    width: auto;
}

@keyframes aparitie_submeniu{
    0%{
        opacity: 0;
        transform: scaleY(0);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes animatie_sageata_submeniu{
    0%{transform: translateX(-2rem);}
    100%{transform: translateX(0);}
}