main{
    --padd-main: 2rem;
    padding-left: var(--padd-main);
    padding-right: var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-produse .produs{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.5rem 0.2rem grey;
    overflow: hidden;
}

.grid-produse .produs h3{
    background-color: var(--medium-color);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produs h3 a{
    color:var(--c2-text);
    text-decoration: none;
}

.grid-produse .produs h3 a:hover{
    color:var(--vivid-color);
}
.grid-produse .produs figure{
    text-align: center;
}

/* .grid-produse .produs figure img{
    border:1px solid grey
} */

.grid-produse .produs .info-prod {
    display:flex;
    width: 70%;
    /* text-align:center; */
    column-gap: 5px;
    font-weight:bold;
    padding-top: 2rem;
}

.grid-produse .produs p.categorie{
    text-align:center;
    font-weight:bold;
}

.grid-intern{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

.grid-intern>figure img{
    width: 100%;
    height: auto;
}

.produs{
    position: relative;
}
.selecteaza-cos{
    display: inline-block;
    /* background-color: var(--medium-color); */
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid transparent;
}

.selecteaza-cos:hover{
    /* background-color: var(--c1-text);
    border: 1px solid  var(--vivid-color); */
}