h3{
    background-color: ;
}

#art-produs{
    margin: 0 auto;
    width: 80%;
    /* max-width:700px; */
    box-shadow: 0px 0px 7px 3px grey;
}

#art-produs p{
    margin:0;
    padding:0.4rem;
    font-weight:bold;
    font-size:1.1rem;
}

#art-produs p span{
    font-weight: normal;
}
#art-produs p:nth-of-type(even){
    background-color: var(--culoare-roz-inchis);
}
#art-produs p:nth-of-type(odd){
    background-color: var(--cl-marcare);
}
.imag-produs{
    text-align: center;
}
.imag-produs img{
    width:50%;
    height:auto;
}
@media screen and (max-width: 700px){
    #art-produs{
        margin:0 auto;
        width:95%;
    }
}